<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.HelloMapper">

    <select id="selectById" resultType="com.example.demo.domain.User">
        select * from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectListById" resultType="com.example.demo.domain.User">
        select * from user
        where id = 1231313;
    </select>

    <select id="testProcess" parameterType="hashmap" statementType="CALLABLE" resultType="string">
        <![CDATA[
 {call testProcess(#{id,mode=OUT,jdbcType=INTEGER},#{userName,mode=IN},#{passWord,mode=IN},#{realName,mode=IN})}
        ]]>
    </select>


</mapper>
